name: Main workflow
on: push
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        # flutter-version: '3.3.8'
        channel: 'stable'
    - run: |
        flutter --version
        flutter analyze
