name: Main workflow
on: push
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        # flutter-version: '3.0.0'
        channel: 'stable'
    - name: Run Analyze
      run: flutter analyze
    - name: Run Formatter
      run: flutter format --set-exit-if-changed .
    - name: Run Test
      run: flutter test
    - run: |
        flutter --version
        flutter test